.comments{
    margin-top: 50px;
    padding: 0px 30px;

    h3{
        margin-bottom: 30px;
    }

    .comment{
        margin: 0;

        .content_comment{
            padding: 0px 10px;
        }
    }
    
}